/* FUENTES DE GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

/* VARIABLES CSS */
:root {
    --altura-encabezado: 3rem;

    /* Colores */
    --color-matiz: 168;

    /* Modo de color HSL */
    --color-primario: hsl(var(--color-matiz), 62%, 56%);
    --color-secundario: hsl(var(--color-matiz), 62%, 56%);
    --color-primario-alt: hsl(var(--color-matiz), 50%, 48%);
    --color-primario-claro: hsl(var(--color-matiz), 62%, 85%);
    --color-titulo: hsl(0, 0%, 15%);
    --color-texto: hsl(0, 0%, 47%);
    --color-texto-claro: hsl(0, 0%, 68%);
    --color-input: hsl(var(--color-matiz), 62%, 88%);
    --color-cuerpo: hsl(var(--color-matiz), 53%, 99%);
    --color-contenedor: hsl(0, 0%, 100%);
    --color-scroll-bar: hsl(var(--color-matiz), 12%, 90%);
    --color-scroll-thumb: hsl(var(--color-matiz), 12%, 80%);

    /* Fuente y tipografía */
    --fuente-body: 'Jost', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px, ... */
    --tamaño-fuente-grande: 2rem;
    --tamaño-fuente-h1: 1.5rem;
    --tamaño-fuente-h2: 1.25rem;
    --tamaño-fuente-h3: 1.125rem;
    --tamaño-fuente-normal: .938rem;
    --tamaño-fuente-pequeña: .813rem;
    --tamaño-fuente-muy-pequeña: .75rem;

    /* Peso de la fuente */
    --fuente-medium: 500;
    --fuente-semi-bold: 600;

    /* Bottom Margin */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px, ...*/
    --bm-0-25: .25rem;
    --bm-0-5: .5rem;
    --bm-0-75: .75rem;
    --bm-1: 1rem;
    --bm-1-5: 1.5rem;
    --bm-2: 2rem;
    --bm-2-5: 2.5rem;
    --bm-3: 3rem;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Tamaño de fuente para dispositivos grandes */
@media screen and (min-width: 968px) {
    :root {
        --tamaño-fuente-grande: 3rem;
        --tamaño-fuente-h1: 2.25rem;
        --tamaño-fuente-h2: 1.5rem;
        --tamaño-fuente-h3: 1.25rem;
        --tamaño-fuente-normal: 1rem;
        --tamaño-fuente-pequeña: .875rem;
        --tamaño-fuente-muy-pequeña: .813rem;
    }
}

/* Variables tema oscuro */
body.dark-theme{
    /* Modo de color HSL */
    --color-secundario: hsl(var(--color-matiz), 23%, 3%);
    --color-primario-claro: hsl(var(--color-matiz), 62%, 30%);
    --color-titulo: hsl(0, 0%, 95%);
    --color-texto: hsl(0, 0%, 77%);
    --color-input: hsl(var(--color-matiz), 21%, 8%);
    --color-cuerpo: hsl(192, 45%, 4%);
    --color-contenedor: hsl(var(--color-matiz), 29%, 16%);
    --color-scroll-bar: hsl(var(--color-matiz), 12%, 48%);
    --color-scroll-thumb: hsl(var(--color-matiz), 12%, 36%);
}

/* Botón dark/light */
.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--color-titulo);
    margin-right: var(--bm-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--color-primario);
}

/* BASE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .5s;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--altura-encabezado) 0;
    font-family: var(--fuente-body);
    font-size: var(--tamaño-fuente-normal);
    background-color: var(--color-cuerpo);
    color: var(--color-texto);
}

h1, h2, h3, h4 {
    color: var(--color-titulo);
    font-weight: var(--fuente-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.inicial-nombre {
    color: var(--color-primario);
}

/* CLASES CSS REUTILIZABLES */
.seccion {
    padding: 2rem 0 4rem;
}

.seccion__titulo {
    font-size: var(--tamaño-fuente-h1);
    margin-bottom: var(--bm-3);
}

.seccion__subtitulo {
    font-size: var(--tamaño-fuente-pequeña);
    display: block;
}

.seccion__titulo,
.seccion__subtitulo {
    text-align: center;
}

/* DISPOSICIÓN */
.contenedor {
    max-width: 768px;
    margin-left: var(--bm-1-5);
    margin-right: var(--bm-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* HEADER */
#logoArgentinaPrograma {
    width: 29px;
    height: 23px;
    margin-top: 0.5rem;
}

#YoProgramo {
    display: flex;
    gap: .5rem;
    transition: .15s;
}

#YoProgramo div {
    text-align: center;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--color-cuerpo);
}

/* NAV */
.nav {
    max-width: 968px;
    height: var(--altura-encabezado);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#YoProgramo,
.nav__cambiar {
    color: var(--color-titulo);
    font-weight: var(--fuente-medium);
}

#YoProgramo:hover {
    color: var(--color-primario);
    filter: drop-shadow(0 0 0.5rem var(--color-primario-claro));
}

.nav__cambiar {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__cambiar:hover {
    color: var(--color-primario);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--color-cuerpo);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--tamaño-fuente-pequeña);
    color: var(--color-titulo);
    font-weight: var(--fuente-medium);
    transition: 0.000001s;
}

.nav__link:hover {
    color: var(--color-primario);
}

.nav__icon {
    font-size: 1.2rem;
    transition: 0.000001s;
}

.nav__cerrar {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-primario);
}

.nav__cerrar:hover {
    color: var(--color-primario-alt);
}

/* mostrar menú */
.mostrar-menu {
    bottom: 0;
}

/* enlace activo */
.enlace-activo {
    color: var(--color-primario);
}

/* cambiar fondo encabezado */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/* INICIO */
.contenedor__inicio {
    gap: 1rem;
}

.contenido__inicio {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.inicio__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.inicio__social-icono {
    font-size: 1.25rem;
    color: var(--color-primario);
}

.inicio__social-icono:hover {
    color: var(--color-primario-alt);
}

.inicio__datos {
    grid-column: 1/3;
}

.inicio__titulo {
    font-size: var(--tamaño-fuente-grande);
}

.inicio__subtitulo {
    font-size: var(--tamaño-fuente-h3);
    color: var(--color-texto);
    font-weight: var(--fuente-medium);
    margin-bottom: var(--bm-0-75);
}

.inicio__descripcion {
    margin-bottom: var(--bm-2);
}

.inicio__scroll {
    display: none;
}

.inicio__scroll-btn {
    color: var(--color-primario);
    transition: .3s;
}

.inicio__scroll-btn:hover {
    transform: translateY(.25rem);
}

.inicio__scroll-mouse {
    font-size: 2rem;
}

.inicio__scroll-nombre {
    font-size: var(--tamaño-fuente-pequeña);
    color: var(--color-titulo);
    font-weight: var(--fuente-medium);
    margin-right: var(--bm-0-25);
}

.inicio__scroll-flecha {
    font-size: 1.25rem;
}

/* BOTONES */
.btn {
    display: inline-block;
    background-color: var(--color-primario);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--fuente-medium);
}

.btn:hover {
    background-color: var(--color-primario-alt);
}

.btn-icono {
    font-size: 1.25rem;
    margin-left: var(--bm-0-5);
    transition: .3s;
}

.btn-flex {
    display: inline-flex;
    align-items: center;
}

.btn-small {
    padding: .75rem 1rem;
}

.btn-link {
    padding: 0;
    background-color: transparent;
    color: var(--color-primario);
}

.btn-link:hover {
    background-color: transparent;
    color: var(--color-primario-alt);
}

/* ACERCA DE MÍ */
.acercaDeMi__img {
    justify-self: center;
    align-self: center;
}

.acercaDeMi__descripcion {
    text-align: justify;
    margin-bottom: var(--bm-2-5);
}

.acercaDeMi__btn {
    display: flex;
    justify-content: center;
}

/* HABILIDADES */
.contenedor__habilidades {
    row-gap: 0;
}

.cabecera__habilidades {
    display: flex;
    align-items: center;
    margin-bottom: var(--bm-2-5);
    cursor: pointer;
}

.habilidades__icon,
.habilidades__flecha {
    font-size: 2rem;
    color: var(--color-primario);
}

.habilidades__icon {
    margin-right: var(--bm-0-75);
}

.habilidades__titulo {
    font-size: var(--tamaño-fuente-h3);
}

.habilidades__flecha {
    margin-left: auto;
    transition: .4s;
}

.lista__habilidades {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
    transition: .4s;
}

.habilidades__titulos {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--bm-0-5);
    align-items: end;
}

.habilidades__nombre {
    font-size: var(--tamaño-fuente-normal);
    font-weight: var(--fuente-medium);
}

.habilidades__barra,
.habilidades__porcentaje {
    height: 5px;
    border-radius: .25rem;
}

.habilidades__barra {
    background-color: var(--color-primario-claro);
}

.habilidades__porcentaje {
    display: block;
    background-color: var(--color-primario);
}

.habilidades__html,
.habilidades__uml,
.habilidades__organizacion {
    width: 90%;
}

.habilidades__css,
.habilidades__java,
.habilidades__manejoDelTiempo,
.habilidades__ingles {
    width: 80%;
}

.habilidades__js,
.habilidades__mysql,
.habilidades__resolucionDeProblemas {
    width: 70%;
}

.habilidades__angular,
.habilidades__springboot {
    width: 50%;
}

.habilidades__trabajoEnEquipo,
.habilidades__lunacy {
    width: 60%;
}

.habilidades__cerrado .lista__habilidades {
    height: 0;
    overflow: hidden;
}

.habilidades__abierto .lista__habilidades {
    height: max-content;
    margin-bottom: var(--bm-2-5);
}

.habilidades__abierto .habilidades__flecha {
    transform: rotate(-180deg);
}

/* HABILITACIÓN */
.tabs__habilitacion {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--bm-2);
}

.btn__habilitacion {
    font-size: var(--tamaño-fuente-h3);
    font-weight: var(--fuente-medium);
    cursor: pointer;
}

.habilitacion__icon {
    font-size: 1.8rem;
    margin-right: var(--bm-0-25);
}

.btn__habilitacion:hover {
    color: var(--color-primario);
}

.habilitacion__datos {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.habilitacion__titulo {
    font-size: var(--tamaño-fuente-normal);
    font-weight: var(--fuente-medium);
}

.habilitacion__subtitulo {
    display: inline-block;
    font-size: var(--tamaño-fuente-pequeña);
    margin-bottom: var(--bm-0-5);
}

.habilitacion__calendario {
    font-size: var(--tamaño-fuente-muy-pequeña);
    color: var(--color-texto);
}

.habilitacion__bolita {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-primario);
    border-radius: 50%;
}

.habilitacion__linea {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--color-primario);
    transform: translate(6px, -7px);
}

.habilitacion [data-content] {
    display: none;
}

.habilitacion__activo[data-content] {
    animation: smooth .4s ease;
    display: block;
}

.btn__habilitacion.habilitacion__activo {
    color: var(--color-primario);
}

.habilitacion__datos__relleno {
    position: relative;
    z-index: 2;
}

.habilitacion__datos__relleno::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .2;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.habilitacion__educacion__1::after {
    background-image: url('/assets/img/dadLogo.jpg');
}

.habilitacion__educacion__3::after {
    background-image: url('/assets/img/utnLogo.png');
    background-size: auto;
}

.habilitacion__educacion__4::after {
    background-image: url('/assets/img/argentinaProgramaLogo.png');
    filter: brightness(50%);
    background-size: cover;
}

/* PROYECTOS */
.contenedor__proyectos {
    overflow: initial;
    margin-top: var(--bm-1-5);
}

.contenido__proyectos {
    padding: 0 1.5rem;
}

.proyecto__img,
.proyecto__img__futuro {
    width: 265px;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    justify-self: center;
}

.proyecto__img__futuro {
    display: flex;
    height: 10rem;
    background-color: #ddd;
    color: #222;
    font-size: var(--tamaño-fuente-h1);
    justify-content: center;
    align-items: center;
}

.proyecto__encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--bm-0-5);
}

.proyecto__titulo {
    font-size: var(--tamaño-fuente-h3);
}

.proyecto__fecha {
    font-size: var(--tamaño-fuente-pequeña);
    font-weight: var(--fuente-medium);
}

.proyecto__descripcion {
    text-align: justify;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper__proyecto__icono {
    font-size: 2rem;
    color: var(--color-primario);
}

.swiper-button-prev {
    left: -.5rem;
}

.swiper-button-next {
    right: -.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-primario);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets {
    outline: none;
}

/* CONTACTO */
.contenedor__contacto {
    row-gap: 1rem;
    align-items: center;
}

.info__contacto {
    display: flex;
    margin-bottom: var(--bm-2);
}

.icono__contacto {
    font-size: 2rem;
    margin-right: var(--bm-0-75);
    color: var(--color-primario);
}

.titulo__contacto {
    font-size: var(--tamaño-fuente-h3);
    font-weight: var(--fuente-medium);
}

.subtitulo__contacto {
    font-size: var(--tamaño-fuente-pequeña);
    color: var(--color-texto);
}

.contenido__contacto,
.contenido__formulario__login {
    background-color: var(--color-input);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.input {
    width: 100%;
    background-color: var(--color-input);
    color: var(--color-texto);
    font-family: var(--fuente-body);
    font-size: var(--tamaño-fuente-normal);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.label {
    font-size: var(--tamaño-fuente-pequeña);
    color: var(--color-titulo);
}

textarea {
    resize: none;
}

/* FOOTER */
.footer {
    padding-top: 2rem;
}

.bg_footer {
    background-color: var(--color-secundario);
    padding: 2rem 0;
}

.titulo__footer {
    font-size: var(--tamaño-fuente-h1);
    margin-bottom: var(--bm-0-25);
}

.subtitulo__footer {
    font-size: var(--tamaño-fuente-pequeña);
}

.social__footer {
    font-size: 1.25rem;
    margin-right: var(--bm-1-5);
}

.social__footer-icono:hover {
    color: var(--color-primario-claro);
}

.copy__footer {
    font-size: var(--tamaño-fuente-muy-pequeña);
    color: var(--color-texto);
    margin-top: var(--bm-0-25);
}

.titulo__footer,
.subtitulo__footer,
.social__footer-icono {
    color: #fff;
}

/* scroll hasta arriba */
.scroll-up {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--color-primario);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .5s;
}

.scroll-up:hover {
    background-color: var(--color-primario-alt);
}

.scroll-up-icon {
    font-size: 1.5rem;
    color: #fff;
}

/* mostrar scroll hasta arriba */
.show-scroll {
    bottom: 5rem;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--color-scroll-bar);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-texto-claro);
}

@keyframes smooth {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* MEDIA QUERIES */
/* Para dispositivos pequeños */
@media screen and (max-width: 350px) {
    .contenedor {
        margin-left: var(--bm-1);
        margin-right: var(--bm-1);
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .contenido__inicio {
        grid-template-columns: .25fr 3fr;
    }

    .inicio__img {
        width: 200px;
    }

    .habilidades__titulo {
        font-size: var(--tamaño-fuente-normal);
    }

    .habilitacion__datos {
        gap: .5rem;
    }
}

/* Para dispositivos medianos */
@media screen and (min-width: 568px) {
    .contenido__inicio {
        grid-template-columns: max-content 1fr 1fr;
    }

    .inicio__datos {
        grid-column: initial;
    }

    .inicio__img {
        order: 1;
        justify-self: center;
    }

    .contenedor__acercaDeMi,
    .contenedor__habilidades,
    .contenedor__contacto,
    .contenedor__footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .secciones__habilitacion {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .proyecto__img,
    .proyecto__img__futuro {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .contenedor {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .seccion {
        padding: 6rem 0 2rem;
    }

    .seccion__titulo {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .contenedor__footer {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--altura-encabezado) + 1.5rem);
        column-gap: 1rem;
        justify-content: center;
    }

    .nav__icon,
    .nav__cerrar,
    .nav__cambiar {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
    }

    .contenedor__inicio {
        row-gap: 3rem;
    }

    .contenido__inicio {
        column-gap: 2rem;
    }

    .inicio__img {
        width: 350px;
    }

    .inicio__scroll {
        display: block;
    }

    .inicio__scroll-btn {
        margin-left: 3rem;
    }

    .contenedor__acercaDeMi {
        column-gap: 5rem;
        align-items: center;
    }

    .acercaDeMi__img {
        width: 350px;
    }

    .tabs__habilitacion {
        justify-content: center;
    }

    .btn__habilitacion {
        margin: 0 var(--bm-1);
    }

    .secciones__habilitacion {
        grid-template-columns: .5fr;
    }

    .contenido__proyectos {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-bottom: var(--bm-3);
    }

    .proyecto__img,
    .proyecto__img__futuro {
        width: 520px;
    }

    .contenedor__footer {
        grid-template-columns: repeat(3, 1fr);
    }

    .contenido__footer {
        text-align: center;
    }

    .social__footer {
        justify-self: flex-end;
    }
}

/* Para dispositivos grandes */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .contenedor__footer {
        padding: 0;
    }

    .inicio__social {
        transform: translateX(-6rem);
    }

    .contenido__proyectos {
        column-gap: 5rem;
        margin-bottom: var(--bm-3);
    }

    .proyecto__img__futuro {
        width: 100%;
    }

    .swiper__proyecto__icono {
        font-size: 3.5rem;
    }

    .swiper-button-prev {
        left: -3.5rem;
    }

    .swiper-button-next {
        right: -3.5rem;
    }

    .formulario__contacto {
        width: 460px;
    }

    .inputs__contacto {
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor__footer {
        align-items: center;
    }

    .contenedor__inicio {
        row-gap: .5rem;
    }
}

/* Login */
.login {
    padding-top: 4.5rem;
    padding-bottom: 0;
}

.contenedor__login {
    display: flex;
    justify-content: end;
}

.inicio {
    padding-top: 0;
}

.btn__login {
    height: 1.5rem;
    cursor: pointer;
}

.login__modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.login__modal-contenido {
    position: relative;
    background-color: var(--color-contenedor);
    padding: 1.5rem;
    border-radius: .5rem;
}

.login__modal-detalle {
    row-gap: 1rem;
}

.login__modal-titulo {
    font-size: var(--tamaño-fuente-h3);
    font-weight: var(--fuente-medium);
    margin-bottom: var(--bm-0-5);
}

.login__modal-cerrar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--color-primario);
    cursor: pointer;
}

#password {
    font-family: sans-serif;
}

.btn__entrar {
    margin: auto;
    cursor: pointer;
}

/* Modal activo */
.modal-activo {
    opacity: 1;
    visibility: visible;
}

/* Modo edición */
.editar,
.agregar,
.eliminar {
    float: right;
    color: #fff;
    background-color: var(--color-primario);
    font-size: 1rem;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}

.editar:hover,
.agregar:hover,
.eliminar:hover {
    background-color: var(--color-primario-alt);
}

.editar-habilidad,
.editar-habilitacion,
.editar-proyecto,
.eliminar-habilidad,
.eliminar-habilitacion,
.eliminar-proyecto {
    font-size: .75rem;
}

.habilidades__edicion,
.habilitacion__edicion,
.proyectos__edicion {
    display: flex;
    gap: .5rem;
}

.habilitacion__edicion__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.proyectos__edicion {
    justify-content: end;
}

/* Mostrar modo edición */
.modoEdicionActivado {
    visibility: visible;
    opacity: 1;
}