/* FUENTES DE GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

/* VARIABLES CSS */
:root {
    --altura-encabezado: 3rem;

    /* Colores */
    --color-matiz: 168;

    /* Modo de color HSL */
    --color-primario: hsl(var(--color-matiz), 62%, 56%);
    --color-secundario: hsl(var(--color-matiz), 62%, 56%);
    --color-primario-alt: hsl(var(--color-matiz), 50%, 48%);
    --color-primario-claro: hsl(var(--color-matiz), 62%, 85%);
    --color-titulo: hsl(0, 0%, 15%);
    --color-texto: hsl(0, 0%, 47%);
    --color-texto-claro: hsl(0, 0%, 68%);
    --color-input: hsl(0, 0%, 59%);
    --color-cuerpo: hsl(var(--color-matiz), 53%, 99%);
    --color-contenedor: hsl(0, 0%, 100%);

    /* Fuente y tipografía */
    --fuente-body: 'Jost', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px, ... */
    --tamaño-fuente-grande: 2rem;
    --tamaño-fuente-h1: 1.5rem;
    --tamaño-fuente-h2: 1.25rem;
    --tamaño-fuente-h3: 1.125rem;
    --tamaño-fuente-normal: .938rem;
    --tamaño-fuente-pequeña: .813rem;
    --tamaño-fuente-muy-pequeña: .75rem;

    /* Peso de la fuente */
    --fuente-medium: 500;
    --fuente-semi-bold: 600;

    /* Bottom Margin */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px, ...*/
    --bm-0-25: .25rem;
    --bm-0-5: .5rem;
    --bm-0-75: .75rem;
    --bm-1: 1rem;
    --bm-1-5: 1.5rem;
    --bm-2: 2rem;
    --bm-2-5: 2.5rem;
    --bm-3: 3rem;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Tamaño de fuente para dispositivos grandes */
@media screen and (min-width: 968px) {
    :root {
        --tamaño-fuente-grande: 3rem;
        --tamaño-fuente-h1: 2.25rem;
        --tamaño-fuente-h2: 1.5rem;
        --tamaño-fuente-h3: 1.25rem;
        --tamaño-fuente-normal: 1rem;
        --tamaño-fuente-pequeña: .875rem;
        --tamaño-fuente-muy-pequeña: .813rem;
    }
}

/* BASE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--altura-encabezado) 0;
    font-family: var(--fuente-body);
    font-size: var(--tamaño-fuente-normal);
    background-color: var(--color-cuerpo);
    color: var(--color-texto);
}

h1, h2, h3, h4 {
    color: var(--color-titulo);
    font-weight: var(--fuente-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.inicial-nombre {
    color: var(--color-primario);
}

/* CLASES CSS REUTILIZABLES */
.seccion {
    padding: 2rem 0 4rem;
}

.seccion__titulo {
    font-size: var(--tamaño-fuente-h1);
}

.seccion__subtitulo {
    font-size: var(--tamaño-fuente-pequeña);
    display: block;
    margin-bottom: var(--bm-3);
}

.seccion__titulo,
.seccion__subtitulo {
    text-align: center;
}

/* DISPOSICIÓN */
.contenedor {
    max-width: 768px;
    margin-left: var(--bm-1-5);
    margin-right: var(--bm-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* HEADER */
#logoArgentinaPrograma {
    width: 29px;
    height: 23px;
    margin-top: 0.5rem;
}

.nav__logo {
    margin-left: -1rem;
}

#YoProgramo {
    display: flex;
    gap: .5rem;
    position: absolute;
    margin-top: 0.25rem;
    margin-left: 1.5rem;
    transition: .15s;
}

#YoProgramo div {
    text-align: center;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--color-cuerpo);
}

/* NAV */
.nav {
    max-width: 968px;
    height: var(--altura-encabezado);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#YoProgramo,
.nav__cambiar {
    color: var(--color-titulo);
    font-weight: var(--fuente-medium);
}

#YoProgramo:hover {
    color: var(--color-primario);
    filter: drop-shadow(0 0 0.5rem var(--color-primario-claro));
}

.nav__cambiar {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__cambiar:hover {
    color: var(--color-primario);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--color-cuerpo);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--tamaño-fuente-pequeña);
    color: var(--color-titulo);
    font-weight: var(--fuente-medium);
}

.nav__link:hover {
    color: var(--color-primario);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__cerrar {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-primario);
}

.nav__cerrar:hover {
    color: var(--color-primario-alt);
}

/* mostrar menú */
.mostrar-menu {
    bottom: 0;
}

/* INICIO */
.contenedor__inicio {
    gap: 1rem;
}

.contenido__inicio {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.inicio__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.inicio__social-icono {
    font-size: 1.25rem;
    color: var(--color-primario);
}

.inicio__social-icono:hover {
    color: var(--color-primario-alt);
}

.inicio__datos {
    grid-column: 1/3;
}

.inicio__titulo {
    font-size: var(--tamaño-fuente-grande);
}

.inicio__subtitulo {
    font-size: var(--tamaño-fuente-h3);
    color: var(--color-texto);
    font-weight: var(--fuente-medium);
    margin-bottom: var(--bm-0-75);
}

.inicio__descripcion {
    text-align: justify;
    margin-bottom: var(--bm-2);
}

.inicio__scroll {
    display: none;
}

.inicio__scroll-btn {
    color: var(--color-primario);
    transition: .3s;
}

.inicio__scroll-btn:hover {
    transform: translateY(.25rem);
}

.inicio__scroll-mouse {
    font-size: 2rem;
}

.inicio__scroll-nombre {
    font-size: var(--tamaño-fuente-pequeña);
    color: var(--color-titulo);
    font-weight: var(--fuente-medium);
    margin-right: var(--bm-0-25);
}

.inicio__scroll-flecha {
    font-size: 1.25rem;
}

/* BOTONES */
.btn {
    display: inline-block;
    background-color: var(--color-primario);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--fuente-medium);
}

.btn:hover {
    background-color: var(--color-primario-alt);
}

.btn-icono {
    font-size: 1.25rem;
    margin-left: var(--bm-0-5);
    transition: .3s;
}

.btn-flex {
    display: inline-flex;
    align-items: center;
}

/* ACERCA DE MÍ */
.acercaDeMi__img {
    justify-self: center;
    align-self: center;
}

.acercaDeMi__descripcion {
    text-align: justify;
    margin-bottom: var(--bm-2-5);
}

.acercaDeMi__btn {
    display: flex;
    justify-content: center;
}

/* HABILIDADES */
.contenedor__habilidades {
    row-gap: 0;
}

.cabecera__habilidades {
    display: flex;
    align-items: center;
    margin-bottom: var(--bm-2-5);
    cursor: pointer;
}

.habilidades__icon,
.habilidades__flecha {
    font-size: 2rem;
    color: var(--color-primario);
}

.habilidades__icon {
    margin-right: var(--bm-0-75);
}

.habilidades__titulo {
    font-size: var(--tamaño-fuente-h3);
}

.habilidades__flecha {
    margin-left: auto;
    transition: .4s;
}

.lista__habilidades {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.habilidades__titulos {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--bm-0-5);
}

.habilidades__nombre {
    font-size: var(--tamaño-fuente-normal);
    font-weight: var(--fuente-medium);
}

.habilidades__barra,
.habilidades__porcentaje {
    height: 5px;
    border-radius: .25rem;
}

.habilidades__barra {
    background-color: var(--color-primario-claro);
}

.habilidades__porcentaje {
    display: block;
    background-color: var(--color-primario);
}

.habilidades__html,
.habilidades__uml,
.habilidades__organizacion {
    width: 90%;
}

.habilidades__css,
.habilidades__java,
.habilidades__manejoDelTiempo,
.habilidades__ingles {
    width: 80%;
}

.habilidades__js,
.habilidades__mysql,
.habilidades__resolucionDeProblemas {
    width: 70%;
}

.habilidades__angular,
.habilidades__springboot {
    width: 50%;
}

.habilidades__trabajoEnEquipo,
.habilidades__lunacy {
    width: 60%;
}

.habilidades__cerrado .lista__habilidades {
    height: 0;
    overflow: hidden;
}

.habilidades__abierto .lista__habilidades {
    height: max-content;
    margin-bottom: var(--bm-2-5);
}

.habilidades__abierto .habilidades__flecha {
    transform: rotate(-180deg);
}